@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.page-4{
    width: 100%;
    background-color: #121212;
    .box{
        display: flex;
        .box4__item2{
            display: flex;
            overflow: hidden;
            .box4__item2{
                display: flex;
                flex-direction: column;
                overflow: hidden;
            }}}}