@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Shahnoza*/
section.page-4 {
  width: 100%;
  background-color: #121212;
}
section.page-4 .box4 {
  display: flex;
}
section.page-4 .box4 .box4__item1 {
  height: 315px;
  width: 581.6875px;
  padding-top: 269px;
  padding-left: 109px;
  padding-right: 109px;
}
section.page-4 .box4 .box4__item1 h1 {
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: #FFFFFF;
  height: 133px;
  width: 563px;
}
section.page-4 .box4 .box4__item1 p {
  height: 61px;
  width: 541px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #FFFFFF;
  padding-top: 16px;
}
section.page-4 .box4 .box4__item1 button {
  height: 73px;
  width: 206px;
  border-radius: 16px;
  background: #FF5634;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transform: translateY(27px);
}
section.page-4 .box4 .box4__item1 button:hover {
  color: #121212;
}
section.page-4 .box4 .box4__items {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 3 3;
  gap: 25px;
  padding-left: 282px;
  padding-right: -10px;
}
section.page-4 .box4 .box4__items img {
  height: 355px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.page-4 .box4 .box4__items .box4__item2 {
  display: flex;
  flex-direction: column;
  -o-object-fit: cover;
     object-fit: cover;
  gap: 30px;
  overflow: hidden;
  height: 858px;
}
section.page-4 .box4 .box4__items .box4__item3 {
  display: flex;
  flex-direction: column;
  -o-object-fit: cover;
     object-fit: cover;
  gap: 30px;
  height: 858px;
  overflow: hidden;
}

section.page-5 {
  width: 100%;
  padding-top: 199px;
}
section.page-5 .box5 {
  text-align: center;
}
section.page-5 .box5 span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #FF5634;
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
section.page-5 .box5 h1 {
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  padding-top: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #121212;
}
section.page-5 .box5 p {
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #656565;
  padding-top: 22px;
}
section.page-5 .box5 h2 {
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #656565;
  padding-left: 520px;
}
section.page-5 .page-5__box {
  margin-left: 200px;
  padding-top: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
section.page-5 .page-5__box .page-5__box-item1 {
  height: 260px;
  width: 350px;
  text-align: center;
}
section.page-5 .page-5__box .page-5__box-item1 img {
  padding-left: 10px;
}
section.page-5 .page-5__box .page-5__box-item1 h1 {
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: #121212;
  padding-top: 28px;
}
section.page-5 .page-5__box .page-5__box-item1 p {
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #656565;
  padding-top: 14px;
}
section.page-5 .button1 {
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  background: #FF5634;
  border: 1px solid #FF5634;
  border-radius: 16px;
  height: 73px;
  width: 247px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 590px;
}
section.page-5 .button1:hover {
  color: #121212;
}
section.page-5 .button2 {
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
  border-radius: 16px;
  height: 73px;
  width: 205px;
  margin-left: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #121212;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */